.nav_container {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 60px;
  justify-content: space-between;
}

.nav_left {
  display: flex;
}

.nav_right {
  display: flex;
}