@import '../../../variables.scss';

.ly_headerConts_logo {
  z-index: 10;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: 60px;
  @include mq-down(md) {
    margin-left: 30px;
  }
}

.bl_headerConts_logo {
  width: 30px;
  height: auto;
}

.bl_headerConts_txt {
  font-size: 16px;
  margin: 0;
  margin-left: 8px;
  color: #222;
  font-weight: 500;
}