
.ly_menuToggle_btn {
  display: flex;
  margin-right: 30px;
  width: 40px;
  height: 40px;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 100;
  .bl_menuToggle_btn1 {
    width: 40px;
    height: 3px;
    border-radius: 1px;
    background-color: black;
    transform-origin: 1px;
    transition: all 0.3s linear;
  }
  .bl_menuToggle_btn2 {
    width: 40px;
    height: 3px;
    border-radius: 1px;
    background-color: black;
    transform-origin: 1px;
    transition: all 0.3s linear;
  }
  .bl_menuToggle_btn3 {
    width: 40px;
    height: 3px;
    border-radius: 1px;
    background-color: black;
    transform-origin: 1px;
    transition: all 0.3s linear;
  }
}